REACT_APP_RSVP_TEXT_ENDPOINT=/.netlify/functions/rsvp-text
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_FROM_PHONE=+15555555555
RSVP_TO_PHONES=+15555555555,+16666666666
